* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: rgb(234, 235, 236);
    transition: 0.2s;
}
body {
    width: 100vw;
    height: 90vh;
    background: radial-gradient(rgb(9, 9, 9), rgb(36, 36, 36));
    overflow: hidden;
}
.weather-app {
    height: 500px;
    width: 900px;
    background: rgba(129, 129, 129, 0.76);
    margin: 60px auto;
    box-shadow: 25px 40px 50px rgb(9, 9, 9);
    display: flex;
    transition: 0.5s;
}

.left-wrapper {
    width: 540px;
    height: 100%;
}
.left-wrapper-hovered {
    width: 530px;
}
.left-wrapper-hidden {
    width: 0;
}
.main-info-wrapper {
    margin: 300px 0;
    padding: 20px 45px;
    display: flex;
    background: rgba(17, 18, 19, 0.47);
    width: 84%;
    color: rgb(56, 188, 253);
}
.main-info-hidden {
    background: none;
}
.temperature {
    font-size: 80px;
}
#temperature-out-symbol {
    font-weight: 300;
}
.temperature:hover {
    cursor: pointer;
}
.city-date-holder {
    margin: 15px 0 0 25px;
}
.city-name {
    font-size: 40px;
}
.date-and-time,
.weather-condition {
    font-size: 15px;
    font-weight: 300;
}
.small-weather-wrapper {
    margin: 17px 0 0 30px;
}
.weather-icon img {
    width: 40px;
    height: 40px;
}

.right-wrapper {
    width: 260px;
    height: 400px;
    background-color: rgba(13, 18, 18, 0.65);
    backdrop-filter: blur(7px);
    padding: 50px;
}
.right-wrapper-hovered {
    width: 270px;
}
.right-wrapper-full {
    width: 800px;
    display: flex;
}
.right-wrapper-left {
    width: 100%;
}
.right-wrapper-left-active {
    width: 300px;
}
.right-wrapper-right {
    width: 0;
}
.right-wrapper-right-active {
    width: 500px;
    display: block;
}
.magnifier-block {
    position: absolute;
    width: 70px;
    height: 70px;
    margin-left: 830px;
    transition: 0.5s;
}
.magnifier-block:hover {
    cursor: pointer;
}
.magnifier-block img {
    width: 20px;
    height: 20px;
    margin: 25px;
}
.divider,
.small-divider {
    height: 1px;
    width: 100%;
    background-color: #9b9b9b;
    margin: 20px 0;
}
.small-divider {
    width: 200px;
    position: relative;
    top: -8px;
    margin: 0 0 20px 0;
}
.location,
.weather-details {
    font-weight: 300;
}
#another-location {
    color: #b4b4b4;
    font-size: 20px;
    position: relative;
    top: -10px;
    height: 30px;
    background: none;
    border: none;
    outline: none;
}
#another-location:hover {
    cursor: text;
}
.chosen-cities {
    color: #b4b4b4;
    font-size: 17px;
    margin-bottom: 10px;
}
.chosen-cities:hover {
    cursor: pointer;
    color: rgb(234, 235, 236);
}
#weather-details-title {
    color: rgb(210, 210, 210);
    font-size: 20px;
    margin: 30px 0;
}
.weather-details-block {
    width: 100%;
    margin: 20px 0;
}
.weather-details-component {
    color: #b4b4b4;
}
.weather-details-value {
    color: rgb(210, 210, 210);
    float: right;
}
.weather-block {
    opacity: 1;
    margin: 20px 0 0 30px;
    width: 250px;
    height: 50%;
    position: relative;
    left: 30px;
}
.hidden {
    display: none;
}
.invisible {
    opacity: 0;
}
.day-of-week {
    font-size: 30px;
    font-weight: 300;
    color: rgb(210, 210, 210);
}
.more-weather-icon {
    width: 50px;
    height: 50px;
    margin: 8px 6px;
}
.more-weather-value,
.temperature-value {
    font-size: 20px;
    font-weight: 300;
    color: #b4b4b4;
}
.top,
.bottom {
    width: 100%;
    height: 50%;
    display: flex;
}
.extra-wrapper {
    display: flex;
}
.temperature-wrapper {
    margin-top: 10px;
    display: block;
    width: 30%;
}
.weather-wrapper {
    width: 50%;
}
